@page "/contato"

<div class="row py-3">
    <div class="col-12">
        <CardAkram Titulo="Contato">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-dark" href="mailto:akram.kfm@gmail.com"><em class="fa fa-mail-bulk" aria-hidden="true"></em>&nbsp;akram.kfm@gmail.com</a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" target="_blank" href="https://api.whatsapp.com/send?phone=5551980102010"><em class="fab fa-whatsapp" aria-hidden="true"></em>&nbsp;+55 51 9 8010-2010</a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" target="_blank" href="https://www.facebook.com/akram.artesmarciais.terapias"><em class="fab fa-facebook" aria-hidden="true"></em>&nbsp;akram.artesmarciais.terapias</a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" target="_blank" href="https://www.instagram.com/akram.kungfu/"><em class="fab fa-instagram" aria-hidden="true"></em>&nbsp;akram.kungfu</a>
                </li>
                <li class="list-group-item">
                    <strong>Locais:</strong>
                    <ul>
                        <li>Porto Alegre - RS;</li>
                        <li>Interenâncias.</li>
                    </ul>
                </li>
            </ul>
        </CardAkram>
    </div>
</div>
