@page "/curriculo"

<div class="row py-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Filiações</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ABRATH - CRTH-BR 6573 - Terapeuta Complementar</li>
                <li class="list-group-item">ANWCTC - N° 50 - Instrutor de Kung Fu</li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Formações Marciais de Instituições Especializadas</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Monster Martial Arts - Shaolin Butterfly<br /><small>Em andamento</small></li>
                <li class="list-group-item">Monster Martial Arts - Master Instructor</li>
                <li class="list-group-item">Associação Nacional de Wing Chun Tao Chuan - Instrutor de Wing Chun</li>
                <li class="list-group-item">Wugon Kwoon - Instrutor do Sistema Wing Chun</li>
                <li class="list-group-item">Liga Internacional de Pa-Kua - Instrutor de Arte Marcial</li>
                <li class="list-group-item">Liga Internacional de Pa-Kua - Instrutor de Armas de Corte</li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Formações Terapêuticas de Instituições Especializadas</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Instituto RS - Massagem Chinesa (Tui Ná)</li>
                <li class="list-group-item">Humaniversidade Holística - Formação em Chi Kung</li>
                <li class="list-group-item">Liga Internacional de Pa-Kua - Instrutor de Reflexologia</li>
                <li class="list-group-item">Liga Internacional de Pa-Kua - Massagem Tradicional Chinesa</li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Formações Acadêmicas Terapêuticas e Marciais</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Pós-graduação (especialização) em Treinamento em Artes Marciais Mistas</span>
                    <br /><small>Em andamento</small>
                </li>
                <li class="list-group-item">
                    <span>Tecnólogia em Práticas Integrativas e Complementares à Saúde</span>
                    <br /><small>Em andamento</small>
                </li>
                <li class="list-group-item">
                    <span>Pós-graduação (especialização) em Coaching</span>
                    <br /><small>TCC: O processo de Coaching utilizando técnicas da Medicina Tradicional Chinesa</small>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Formações Acadêmicas de Outras Áreas</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Pós-graduação (especialização) em Engenharia Eletrônica e de Computação</span>
                </li>
                <li class="list-group-item">
                    <span>Tecnólogia em Análise e Desenvolvimento de Sistemas</span>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
