@page "/cursosonline"

<div class="row py-3">
    <div class="col-12">
        <CardAkram Titulo="Udemy">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-dark" href="https://www.udemy.com/course/chi-kung-tai-chi-shibashi/?referralCode=4482AAE47205D7FA4D60" target="_blank">
                        <div class="media">
                            <img src="images/Logo Udemy Tai Chi Shibashi.png" class="align-self-start mr-3 col-2" alt="Logo Chi Kung - Tai Chi Shibashi">
                            <div class="media-body">
                                <h5 class="mt-0">Chi Kung - Tai Chi Shibashi</h5>
                                <p>Curso online de Tai Chi Shibashi, abordando a forma e princípios teóricos da prática.</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </CardAkram>
    </div>
</div>

@code {

}
