@page "/formacao"

<div class="row py-3">
    <div class="col-12">
        <CardAkram Titulo="Formações">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <NavLink class="nav-link" href="formacao/taichi/qigong">
                        <span class="text-dark">
                            <em class="fa fa-yin-yang" aria-hidden="true"></em>&nbsp;<strong>Tai Chi Qi Gong - Nível 1</strong>
                        </span>
                    </NavLink>
                </li>
            </ul>
        </CardAkram>
    </div>
</div>
