@page "/formacao/taichi/qigong"

<div class="row py-3">
    <div class="col-12">
        <CardAkram Titulo="Tai Chi Qi Gong Shibashi - Nível 1">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Descrição:</strong>&nbsp;Formação em Tai Chi Qi Gong para saúde física e energética.</li>
                <li class="list-group-item"><strong>Duração:</strong>&nbsp;8h</li>
                <li class="list-group-item">
                    <strong>Conteúdos:</strong>
                    <ul>
                        <li><span>Conceitos de Tai Chi e Qi Gong;</span></li>
                        <li><span>História do Tai Chi Qi Gong Shibashi;</span></li>
                        <li><span>Técnicas de respiração;</span></li>
                        <li><span>Sequência de 18 movimentos.</span></li>
                    </ul>
                </li>
            </ul>
        </CardAkram>
    </div>
</div>

@code {

}
