@page "/"
@using System.Net.Http
@inject HttpClient httpClient

<div class="row">
    <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 text-center">
        <img src="images/logo.png" class="img-fluid" alt="Logo">
        <br /><span>@citacao.Frase</span>
        <br /><small>@citacao.Autor</small>
    </div>
</div>

@code {
    private Citacao citacao = new Citacao { Frase = string.Empty, Autor = string.Empty };

    protected override async Task OnInitializedAsync()
    {
        var citacoes = await httpClient
            .GetFromJsonAsync<IEnumerable<Citacao>>("dados/citacoes.json")
            .ConfigureAwait(false);

        citacao = citacoes.ElementAt(new Random().Next(0, citacoes.Count()));
    }
}