@page "/missao"

<div class="row py-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Missão</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Proporcionar a experiencia da prática das culturas Chinesa, Japonesa e Indiana, através de artes marciais e terapias complementares.</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Visão</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Ser referência em divulgação, propagação do conhecimento e formação de instrutores de artes marciais e terapeutas complementares.</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Valores</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Constante Aprimoramento Técnico, Transparência, Inclusão, Liberdade e Qualidade de Ensino.</span>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}