@page "/recomendacoes"

<div class="row py-3">
    <div class="col-12">
        <CardAkram Titulo="Filmes, Séries e Animações">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><Recomendacao Titulo="Avatar: A Lenda de Aang" Ano="2005 - 2008" ConteudoMarcial="Universo fictício constituído por 4 nações (Fogo, Ar, Água e Terra), com diferentes povos. Traduzem de forma lúdica diferentes culturas orientais e diferentes artes marciais, tanto chinesas quanto japonesas. Também apresenta conceitos das religiões orientais, como reencarnação e vidas passadas." /></li>
                <li class="list-group-item"><Recomendacao Titulo="Karate Kid" Ano="2010" ConteudoMarcial="Paciência, disciplina, crescimento pessoal e superação dos medos são as formas como esse filme traduz o Kung Fu." /></li>
                <li class="list-group-item"><Recomendacao Titulo="Kung Fu Panda 1" Ano="2008" ConteudoMarcial="Fala sobre o Kung Fu, apresenta de forma lúdica, os diferentes estilos e mitos em torno da arte. Além de introduzir a ideia de que o Kung Fu é um caminho individual e que cada pessoa pode trilhar ele à sua maneira." /></li>
                <li class="list-group-item"><Recomendacao Titulo="Kung Fu Panda 2" Ano="2011" ConteudoMarcial="Apresenta o Tai Chi, a meditação e da busca da paz interior. Apresenta a paz interna como o objetivo de um mestre de Kung Fu. Também mostra que os movimentos suaves (Tai Chi) podem ser usados para meditação e para combate." /></li>
                <li class="list-group-item"><Recomendacao Titulo="Kung Fu Panda 3" Ano="2016" ConteudoMarcial="Finaliza a trilogia explorando a prática de Chi Kung / Qi Gong e as crenças sobre as energias do universo e do mundo espiritual." /></li>
            </ul>
        </CardAkram>
    </div>
</div>

@code {

}
