@page "/recomendacoes"

<div class="row py-3">
    <div class="col-12">
        <CardAkram Titulo="Cultura Chinesa">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <CardAkram Titulo="Filmes, Séries e Animações">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><Recomendacao Titulo="O Mestre das Armas" Ano="2006" /></li>
                            <li class="list-group-item"><Recomendacao Titulo="Karate Kid" Ano="2010" /></li>
                            <li class="list-group-item"><Recomendacao Titulo="Ip Man 1, 2, 3 e 4" Ano="2008, 2010, 2015 e 2019" /></li>
                            <li class="list-group-item"><Recomendacao Titulo="Kung Fu Panda 1, 2 e 3" Ano="2008, 2011 e 2016" /></li>
                            <li class="list-group-item"><Recomendacao Titulo="Avatar: A Lenda de Aang" Ano="2005 - 2008" /></li>
                            <li class="list-group-item"><Recomendacao Titulo="Avatar: A Lenda de Korra" Ano="2012 - 2015" /></li>
                        </ul>
                    </CardAkram>
                </li>
            </ul>
        </CardAkram>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <CardAkram Titulo="Cultura Japonesa">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <CardAkram Titulo="Filmes, Séries e Animações">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><Recomendacao Titulo="O Último Samurai" Ano="2003" /></li>
                            <li class="list-group-item"><Recomendacao Titulo="Karate Kid" Ano="1984" /></li>
                        </ul>
                    </CardAkram>
                </li>
            </ul>
        </CardAkram>
    </div>
</div>

@code {

}
