@page "/seminarios"

<div class="row py-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Seminários Marciais</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Kung Fu Wing Chun</span>
                    <br /><small>Formação de Instrutores reconhecida pela Associação Nacional de Wing Chun Tao Chuan.</small>
                </li>
                <li class="list-group-item">
                    <span>Kung Fu Pa Kua Chang</span>
                    <br /><small>A arte marcial das 8 Mutações do I Ching.</small>
                </li>
                <li class="list-group-item">
                    <span>Tai Chi Shibashi para Defesa Pessoal</span>
                    <br /><small>Seminário formativo de Tai Chi Shibashi para Combate. Método de Chi Kung Marcial e Defesa Pessoal.</small>
                </li>
                <li class="list-group-item">
                    <span>Esgrima Chinesa</span>
                    <br /><small>Cortes, Bloqueios e Aplicações da espada Jian, usada no Tai Chi e Kung Fu.</small>
                </li>
                <li class="list-group-item">
                    <span>Katana</span>
                    <br /><small>Cortes, Bloqueios e Aplicações da lendária espada dos Samurais.</small>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header"><strong>Seminários Terapêuticos</strong></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Tai Chi Shibashi para Saúde</span>
                    <br /><small>Seminário formativo do método de Tai Chi e Chi Kung para saúde física e energética.</small>
                </li>
                <li class="list-group-item">
                    <span>Chi Kung dos 4 Animais</span>
                    <br /><small>Seminário formativo do método de Chi Kung com formas baseadas nos movimentos do Tigre, da Garça, do Leopardo e da Serpente.</small>
                </li>
                <li class="list-group-item">
                    <span>Medicina Tradicional Chinesa - Reflexologia Podal</span>
                    <br /><small>Técnica de massagem reflexológica no pé, utilizando conceitos da medicina milenar chinesa.</small>
                </li>
                <li class="list-group-item">
                    <span>Medicina Tradicional Chinesa - Coaching Holístico</span>
                    <br /><small>Ténicas da medicina milenar chinesa aplicadas ao processo de Coaching.</small>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
