<div class="row mt-5">
    <div class="col-12">
        <div class="text-center">
            <a href="" class="text-white">
                <h2><strong>Akram Mashni</strong></h2>
                <h4>Artes Marciais e Terapias Complementares</h4>
            </a>
            <button class="navbar-toggler text-white" @onclick="ToggleNavMenu">
                <em class="fa fa-bars" aria-hidden="true"></em>&nbsp;Menu
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column text-center">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="curriculo">
                        <em class="fa fa-file-alt" aria-hidden="true"></em>&nbsp;Curriculo
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="contato">
                        <em class="fa fa-id-card" aria-hidden="true"></em>&nbsp;Contato
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="missao">
                        <em class="fa fa-map-marked-alt" aria-hidden="true"></em>&nbsp;Missão, Visão e Valores
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="seminarios">
                        <em class="fa fa-user-graduate" aria-hidden="true"></em>&nbsp;Seminários
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="cursosonline">
                        <em class="fa fa-chalkboard-teacher" aria-hidden="true"></em>&nbsp;Cursos Online
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="recomendacoes">
                        <em class="fa fa-newspaper" aria-hidden="true"></em>&nbsp;Material Recomendado
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
